body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  /* added in height width*/  
  height: 100%;
  width: 100%;

  background: transparent;
  border: none;
  resize: none; /* leaves the text box at a set vertical and horizontal dimensions. Cannot be clicked and dragged to be wider */
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description{
  white-space: pre-wrap;
  border: 2px green dotted;
}

.time-block{
  text-align: center;
  border-radius: 15px;
  
  /* Borroed from .row */ 
  height: 80px;
  border-top: 1px solid white;
}

.row { /* I get an error when I use this Will keep for later */
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour { 
  width: 150px;
  background-color: #ffffff;
  color: #000000;
  border-top: 2px solid #64616169;
  border-right: 2px solid #64616169;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  width: 100px;
  border-left: 2px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;  
}

.saveBtn:hover {
  /* removed i from the hover above */ 
  font-size: 20px;
  transition: all .3s ease-in-out;
}

button {
  height: 30px;
  width: 30px;

}

/* Below are the styles added in by Jason */

.container {
  border: 4px orange dashed;
  display: flex;
  justify-content: center;
}


#plannerTableID {
  width: 100%;
}

#plannerTableHeaderID th {
  border: 1px black solid;
}
